body {
    padding: 0;
    margin: 0;
}

.loading-container {
    height: 100vh;
    width: 100vw;
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spinner {
    height: 14rem;
    width: 14rem;
    border-left: 8px solid #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin infinite 1.5s linear;
}

.spinner-text {
    position: absolute;
    font-size: 14px;
    color: #ff0000;;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: sans-serif;
    animation: animate 1.2s linear infinite;

}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}